.photo-card {
  position: relative;
  width: 97%;
  max-width: 900px;
  height: 100%;
  background: rgb(18, 18, 18);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  color: white;
  .photo-card-image {
    width: 100%;
    object-fit: cover;
  }

  .photo-info {
    padding: 12px;
    color: #fff;
    position: relative;

    .interactions {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
      align-items: center;
      margin-bottom: 8px;

      .icon-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        img {
          width: 20px;
          height: 20px;
        }

        p {
          font-size: 14px;
          color: #b1b1b1;
        }
      }
    }

    p {
      font-size: 18px;
      color: #ddd;
      cursor: pointer;
    }

    textarea {
      width: 100%;
      min-height: 40px;
      background: #222;
      color: #fff;
      border: none;
      padding: 6px;
      border-radius: 4px;
      outline: none;
      resize: none;
    }

    button {
      background: #232fd3;
      color: #fff;
      padding: 6px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #051b6c;
      }

      &.delete-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        padding: 0;
        border: none;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }

    .comments {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      background: rgba(18, 18, 18, 0.95);
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      z-index: 10;
      display: none;
      max-height: 200px;
      overflow-y: auto;

      .comment {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-bottom: 4px;

        strong {
          color: #f1f1f1;
        }

        button {
          background: none;
          border: none;
          color: #b63b3b;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      input {
        width: 100%;
        padding: 6px;
        background: #222;
        color: #fff;
        border: none;
        border-radius: 4px;
        outline: none;
        margin-top: 6px;
      }
    }
  }
}

.photo-card:hover .comments {
  display: block; /* Відображаємо при наведенні */
}

.comments::-webkit-scrollbar {
  width: 6px;
}

.comments::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}

.comments::-webkit-scrollbar-thumb:hover {
  background: #666;
}
