// змінні з палітри "кібер зелений"
$base-color: #101010; // основа
$accent-color: #100885; // головний зелений
$secondary-accent: #2660de; // вторинний зелений
$text-color: #e0e0e0; // текст
$element-bg: #051b7273; // фон елементів
$border-dark: #2e2c34; // темний бордер
$border-light: #474747; // світліший бордер
$hover-bg: #1432aa93; // ховер фон
$spacing-sm: 8px; // базові відступи
$spacing-md: 16px;
$spacing-lg: 24px;
$font-size-base: 16px; // базовий шрифт
$font-size-title: 24px;
$border-radius: 6px; // скруглення